.calendarDay {
  position: relative;
  flex: 1;
  cursor: crosshair;
  user-select: none;

  .checkbox {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 5;
    background: #ffffff88;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    padding-left: 1px;
    border-radius: 7px;
  }
}

.emptyDay {
  flex: 1;
  background: #fafafb;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
}
