@import '@styles/color.module.scss';

.calendarDay {
  position: relative;
  flex: 1;
  cursor: crosshair;

  .checkbox {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 5;
    background: $white-50; /* #ffffff88 -> $white-50 */
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    padding-left: 1px;
    border-radius: 7px;
  }

  * {
    user-select: none;
    -webkit-user-select: none; /* Dla Safari i iOS */
    user-select: none; /* Dla innych przeglądarek */
  }
}

.emptyDay {
  flex: 1;
  background: $neutral-gray-150; /* #fafafb -> $neutral-gray-100 */
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );
}
