.calendarItem {
    display: flex;
    flex: 1;
    color: #494949;
    padding: 4px;
    background: rgb(255, 255, 255);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
    font-size: 10px;
 
    .hiden {
        display: none;
    }

    &.isWeekend {
        background: #d1d1d1;
    }

    &.isTaoday {
        background: #fff1f1;
    }
}
