@import '@styles/color.module.scss';
@import '@styles/transition.module.scss';
@import '@styles/spacer.module.scss';

@keyframes loopGlow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0; /* Przesunięcie o 100px, dopasuj według potrzeb */
  }
}

.selected {
  color: rgba(53, 53, 53, 0.2) !important;

  background-image: repeating-linear-gradient(
    135deg,
    rgba(53, 53, 53, 0.2),
    rgba(53, 53, 53, 0.2) 10px,
    $turquoise-600 10px,
    $turquoise-600 20px
  ) !important;

  background-size: 28px 28px; /* Rozmiar jednego cyklu pasków */
  background-repeat: repeat;
  animation: loopGlow 1s linear infinite !important;
}
