@import '@styles/color.module.scss';

.eventFormCalendar {
  padding: 0.25rem;

  .calendarContainer {
    flex: 1;
    display: flex;
  }

  .formContainer {
    flex: 1;
    display: none;

    overflow-y: auto;
  }

  .calendarDetails {
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: none; /* Ukrycie scrollbara w Firefox */
    -ms-overflow-style: none; /* Ukrycie scrollbara w Internet Explorer i Edge */
  }
}

@media (min-width: 1024px) {
  .eventFormCalendar {
    .calendarContainer {
      flex: 0 1 40%;
      display: block;
      flex-direction: column;
    }

    .formContainer {
      flex: 0 1 60%;
      display: block;
      top: 6rem;
      min-height: calc(100vh - 8rem);
      background: $white;
    }

    .calendarDetails {
      padding: 2rem;
    }
  }
}
