@import '@styles/color.module.scss';

.dashboard {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 4 kolumny o równej szerokości */
  grid-template-columns: auto;
  column-gap: 1rem;
  row-gap: 0;
  position: relative; /* Pozwala na używanie z-index w kontekście siatki */

  .calendarContainer {
    grid-column: span 1; /* Ta sekcja zajmuje 1 kolumnę */
    grid-row: 1;
  }

  .formContainer {
    display: none;
    grid-column: span 1; /* Ta sekcja zajmuje 2 kolumny */
    grid-row: 1;
    background: $white;
    z-index: 0;
    padding: 2rem;
    overflow-y: scroll;
    min-height: calc(100vh - 4rem); /* Zachowuje minimalną wysokość */
    top: 3.5rem;
  }
}

@media (min-width: 656px) {
  .dashboard {
    grid-template-columns: auto 290px;
    grid-template-rows: auto 1fr;
    transition: grid-template-columns 0.5s;

    &.isPlanVisible {
      grid-template-columns: auto 290px;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      display: block;
      grid-column: span 1; /* Ta sekcja zajmuje 2 kolumny */
      overflow-y: scroll;
      padding: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .dashboard {
    grid-template-columns: 53% auto;
    grid-template-rows: auto 1fr;
    transition: grid-template-columns 0.5s;

    &.isPlanVisible {
      grid-template-columns: 53% auto;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      display: block;
      grid-column: span 1; /* Ta sekcja zajmuje 2 kolumny */
      overflow-y: scroll;
      padding: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .dashboard {
    grid-template-columns: 50% minmax(50%, 512px);
    grid-template-rows: auto 1fr;
    column-gap: 1rem;
    transition: grid-template-columns 0.5s;

    &.isPlanVisible {
      grid-template-columns: auto 45%;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      display: block;
      grid-column: span 1;
      overflow-y: scroll;
      padding: 1rem;
    }
  }
}

@media (min-width: 1280px) {
  .dashboard {
    grid-template-columns: auto 450px;
    column-gap: 1.5rem;

    .formContainer {
      display: block;
      grid-column: span 1;
      overflow-y: scroll;
      padding: 1.5rem;
    }
  }
}

@media (min-width: 1440px) {
  .dashboard {
    grid-template-columns: auto 500px;
    grid-template-rows: auto 1fr;

    transition: grid-template-columns 0.5s;

    &.isPlanVisible {
      grid-template-columns: auto 500px;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      grid-column: span 1;
      padding: 1.5rem;
      overflow-y: scroll;
    }
  }
}

@media (min-width: 1671) {
  .dashboard {
    grid-template-columns: auto 500px;
    grid-template-rows: auto 1fr;

    transition: grid-template-columns 0.5s;

    &.isPlanVisible {
      grid-template-columns: minmax(50%, 70%) 500px;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      grid-column: span 1;
      padding: 1.5rem;
      overflow-y: scroll;
    }
  }
}

@media (min-width: 1920px) {
  .dashboard {
    grid-template-columns: auto 650px;
    grid-template-rows: auto 1fr;
    transition: grid-template-columns 0.5s;
    column-gap: 1.5rem;

    &.isPlanVisible {
      grid-template-columns: auto 650px;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      grid-column: span 1;
      padding: 1.5rem;
      overflow-y: scroll;
    }
  }
}

@media (min-width: 2400px) {
  .dashboard {
    grid-template-columns: auto 700px;
    grid-template-rows: auto 1fr;
    transition: grid-template-columns 0.5s;
    column-gap: 1.5rem;

    &.isPlanVisible {
      grid-template-columns: auto 700px;
    }

    .calendarContainer {
      grid-column: span 1;
    }

    .formContainer {
      grid-column: span 1;
      padding: 1.5rem;
      overflow-y: scroll;
    }
  }
}
