@import '@styles/color.module.scss';

.eventFormCalendar {
  .calendarContainer {
    flex: 1;
    display: flex;
  }

  .formContainer {
    flex: 1;
    display: none;

    padding: 1.5rem;
    overflow-y: auto;
  }
}

@media (min-width: 1024px) {
  .eventFormCalendar {
    .calendarContainer {
      flex: 0 1 40%;
      display: block;
      flex-direction: column;
      z-index: 1;
    }

    .formContainer {
      flex: 0 1 60%;
      display: block;
      top: 6rem;
      min-height: calc(100vh - 8rem);
      background: $white;
      z-index: 0;
    }
  }
}
