.dashboardContainer {
  margin: 0;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .dashboardContainer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .dashboardContainer {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
