$spacer-1: 1px;
$spacer-2: 2px;
$spacer-4: 4px;
$spacer-8: 8px;
$spacer-12: 12px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-32: 32px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-56: 56px;
$spacer-64: 64px;
$spacer-72: 72px;
$spacer-80: 80px;
$spacer-96: 96px;
$spacer-112: 112px;
$spacer-128: 128px;
