.dashboardEventForm {
  transition: all 0.5s;
  height: 0px;
  overflow: hidden;

  &.isSelectionNotEmpty {
    height: 470px;
  }

  &.isColorPickerVisible {
    height: 700px;
  }
}

.exampleItemParagraph {
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.exampleItemTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
