@keyframes expandTo200 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expandTo700 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes collapseTo0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dashboardEventForm {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0px;

  overflow: hidden;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: collapseTo0;

  &.isSelectionNotEmpty {
    max-height: 200px;
    animation-name: expandTo200;
  }

  &.isColorPickerVisible {
    max-height: 700px;
    animation-name: expandTo700;
  }
}

.exampleItemParagraph {
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.exampleItemTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
