.dashboardEventForm {
  transition: all 0.5s;
  height: 0px;
  overflow: hidden;

  &.isSelectionNotEmpty {
    height: 270px;
  }
  &.isColorPickerVisible {
    height: 690px;
  }

  .swatches {
    display: flex;
    flex: 0 0 60%;
    margin-left: 4px;
    > div {
      padding-top: 10px;
      padding-left: 10px;
      * {
        display: flex;
        flex-wrap: wrap;
        flex: 1 0 15%;
        padding: 0 !important;
        padding-bottom: 0 !important;
        margin: 0px !important;
        margin-bottom: 1px !important;
        margin-right: 1px !important;
        margin-left: 0px !important;
      }
    }
  }
}
