@import '@styles/color.module.scss';
@import '@styles/spacer.module.scss';

.calendarPlanSection {
  display: flex;
  flex: 1;
  padding: 0;
  margin-bottom: $spacer-48;

  .calendarPlanItem {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .calendarItem {
    margin: 0;
    height: 32px;
    line-height: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #00000015;
    border-right: none;

    &:nth-of-type(7) {
      border-right: 1px solid #00000015;
    }

    small {
      font-size: 11px;
      height: 32px;
      margin: 0;
      padding: 0;
      position: absolute;
    }
  }
}
