@import '@styles/color.module.scss';
@import '@styles/spacer.module.scss';

.calendarPlanSection {
  display: flex;
  flex: 1;
  padding: $spacer-2;

  background: $white;
  min-height: 250px;

  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 15px, 100% 100%, 0 100%);
}
