@import '@styles/color.module.scss';
@import '@styles/spacer.module.scss';

.calendarPlanSection {
  display: flex;
  flex: 1;
  padding: 0;
  margin-bottom: $spacer-24;

  .calendarPlanItem {
    display: flex;
    flex-direction: row;
    margin: 0;
    border-right: 1px solid #00000015;
  }

  .calendarItem {
    margin: 0;
    height: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #00000015;
    border-right: none;

    &:nth-of-type(7) {
      border-right: 1px solid #00000015;
    }

    small {
      font-size: 11px;
      height: 16px;
      margin: 0;
      padding: 0;
      position: absolute;
    }
  }
}

@media (min-width: 768px) {
  .calendarPlanSection {
    .calendarItem {
      height: 18px;

      small {
        height: 18px;
      }
    }
  }
}
