.calendarItem {
    display: flex;
    flex: 1;
    color: #494949;
    font-size: 11px;
    background: rgb(255, 255, 255);
    
    padding: 4px;

    &.isWeekend {
        background: #e1e1e1;
    }

    &.isTaoday {
        position: relative;
        background: #ff4f4f;
        color: #ffffff;
    }
    
    &.isFirstOfTheMonth {
        color: #e70000;
    }

    .date {
        font-size: 10px;
    }
    .month {
        font-size: 8px;
    }
    .hiden {
        display: none;
    }
}

@media (min-width: 768px) {
    .calendarItem {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%);
        font-size: 12px;
        padding: 0.25rem;
        .content {
            align-items: baseline;
        }
        .date {
            font-size: 12px;
        }
        .month {
            font-size: 10px;
        }
    }
}

@media (min-width: 1024px) {
    .calendarItem {
        font-size: 12px;
        padding: 0.5rem;

        .date {
            font-size: 18px;
        }
        .month {
            font-size: 14px;
        }
    }
}