@import '@styles/color.module.scss';
@import '@styles/transition.module.scss';
@import '@styles/spacer.module.scss';

.calendarItem {
  display: flex;
  flex: 1;
  color: $neutral-gray-900; /* #494949 -> $neutral-gray-900 */
  font-size: 11px;
  line-height: 12px;
  background: $neutral-gray-100; /* rgb(255, 255, 255) -> $neutral-gray-100 */
  padding: 2px 0px 0px 3px;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    0 100%
  );

  &.smallPolygon {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 4px),
      calc(100% - 4px) 100%,
      0 100%
    );
  }

  .hiden {
    display: none;
  }

  &.isWeekend {
    background: $neutral-gray-200;
  }

  &.isAlternating {
    background: $blue-green-700 !important;
    color: $neutral-gray-100 !important;

    &.isWeekend {
      background: $blue-green-700;
    }

    &.isToday {
      background: $red-500;
      color: $neutral-gray-100;
    }
  }

  &.isToday {
    background: $red-500 !important;
    color: $neutral-gray-100 !important;
  }

  &.isFirstOfTheMonth {
    color: $red-600;
    padding-left: 10px;
  }

  &.isLastOfTheMnth {
    position: relative;
  }

  &.isSelected {
    background: $turquoise-500 !important;
    color: $neutral-gray-100 !important;
  }

  transition:
    background $transition-duration,
    color $transition-duration,
    filter $transition-duration $transition-timing-function;
}

@media (min-width: 768px) {
  .calendarItem {
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      0 100%
    );

    &.smallPolygon {
      clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        0 100%
      );
    }

    font-size: 14px;
    padding: 0.25rem;

    &.isFirstOfTheMonth {
      padding-left: 10px;
    }
    .content {
      align-items: baseline;
    }
  }
}

@media (min-width: 1024px) {
  .calendarItem {
    font-size: 11px;
    padding: 0.25rem;
  }
}

@media (min-width: 1280px) {
  .calendarItem {
    font-size: 12px;
    padding: 0.5rem;
  }
}
