.calendarItem {
  display: flex;
  flex: 1;
  color: #494949;
  padding: 5px 0 5px 8px;
  background: rgb(255, 255, 255);

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );

  .hiden {
    display: none;
  }

  &.isWeekend {
    background: #d7d7d7;
  }

  &.isAlternating {
    background: #2d5465;
    color: #ffffff;

    &.isWeekend {
      background: #2d5465;
    }

    &.isToday {
      background: #ff4f4f;
      color: #ffffff;
    }
  }

  &.isToday {
    background: #ff4f4f;
    color: #ffffff;
  }

  &.isFirstOfTheMonth {
    color: #e94646;
    padding-left: 10px;
  }

  &.isLastOfTheMnth {
    position: relative;
  }

  &.isSelected {
    background: #e4a000 !important;
    color: #ffffff !important;
  }
}
