@import '@styles/color.module.scss';
@import '@styles/transition.module.scss';
@import '@styles/spacer.module.scss';

.calendarItem {
  display: flex;
  flex: 1;
  color: $neutral-gray-900;
  padding: 5px 0 5px $spacer-8;
  background: $neutral-gray-100;

  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    0 100%
  );

  .hiden {
    display: none;
  }

  &.isWeekend {
    background: $neutral-gray-200;
  }

  &.isAlternating {
    background: $blue-green-700 !important;
    color: $neutral-gray-100 !important;

    &.isWeekend {
      background: $blue-green-700;
    }

    &.isToday {
      background: $red-500;
      color: $neutral-gray-100;
    }
  }

  &.isToday {
    background: $red-500 !important;
    color: $neutral-gray-100 !important;
  }

  &.isFirstOfTheMonth {
    color: $red-600;
    padding-left: 10px;
  }

  &.isLastOfTheMnth {
    position: relative;
  }

  &.isSelected {
    background: $turquoise-500 !important;
    color: $neutral-gray-100 !important;
  }

  transition:
    background $transition-duration,
    color $transition-duration,
    filter $transition-duration $transition-timing-function;
}
